body {
background-color: #cccccc;
color: #000000;
}

h1 {
font-family: "Arial";
font-size: 65px;
text-align: center;
font-style: normal;
}

h2 {
font-family: "Arial";
font-size: 45px;
text-align: center;
}

div.clk {
font-family: "Arial";
font-size: 100px;
text-align: center;
color: #000000;
}